<div class="summary-page">
<h2>People are sharing</h2>

<% if @current_invite_items && @current_invite_items.count > 0%>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>URL</th>
			<th>Taken</th>
			<th>Total</th>
			<th>Link</th>
		</tr>
	</thead>
	<tbody>
		<% @current_invite_items.each_with_index do |invite_item, index| %>
		<tr onclick="TableTrClick('<%= request.protocol + request.host_with_port + '/take/' + invite_item.rand_key %>');"
			onmouseover="TableTrHighlight(this, true);"
			onmouseout="TableTrHighlight(this, false);">
			<td><%= index + 1 %></td>
			<td><%= invite_item.title %></td>
			<td><%= auto_link(invite_item.url) %></td>
			<td><%= InviteCode.where(invite_item_id: invite_item.id, taken: true).count %></td>
			<td><%= invite_item.invite_codes.count %></td>
			<td><%= request.protocol + request.host_with_port + '/take/' + invite_item.rand_key %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>
<p>No invitation code has been marked public.</p>
<% end%>

</div>