<%= simple_form_for @invite_item do |f| %>
<% if @invite_item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@invite_item.errors.count, "error") %> prohibited this invite_item from being saved:</h2>

    <ul>
    <% @invite_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= f.input :title, label: false, placeholder: 'Title' %>
<%= f.input :url, label: false, placeholder: 'URL' %>
<%= f.input :description, label: false, placeholder: 'Description', input_html: {rows: 2} %>
<%= f.input :codes_str, as: :text, label: false, placeholder: 'Invitation Codes (split with enter)', input_html: {rows: 6} %>
<%= f.input :public,label: false, inline_label: 'Make it public' %>
<%= f.button :submit %>
<%end%>