<div class="login-form">
<h2>Take a code</h2>



<div><%= @current_invite_item.title %></div>
<div><%= @current_invite_item.url %></div>
<div><%= @current_invite_item.description %></div>


<!-- <div class="input-append">
	<input class="span2" id="appendedInputButton" type="text">
	<%= button_to 'Take One', invite_code_path(@current_invite_item), remote: true, method: 'put', class: "btn", type: "button" %>
</div> -->

<%= form_tag({controller: '/invite_codes', action: 'update', id: @current_invite_item.id}, {method: 'put', remote: true} ) do %>
<div class="input-append">
  <input class="span2" id="appendedInputButton" type="text">
  <%= submit_tag "Take One", class: "btn" %>
</div>

<% end %>

</div>